<tr>
  <th scope="row"><%= team.id %></th>
  <td><%= team.name %></td>
  <td><%= team.users.count %></td>
  <td><%= team.created_at %></td>
  <td>1</td>
  <td><%= team.points || 0 %></td>
  <td><%= link_to "Show", team_path(team) %></td>
</tr>
