<div class='profile'>
  <section class="profile-card">
    <div class="profile-image">
        <%= image_tag Current.user.profile_image %>
    </div>
    <div class="profile-content">
      <article>
        <h3><%= Current.user.name %></h3>
        <p><%= Current.user.email %></p>
      </article>
      <article>
        <p><%= Current.user.role %></p>
        <% if Current.user.team %>
          <p><%= Current.user.team.name %></p>
        <% end %>
      </article>
      <%= link_to 'Update my account', dashboard_edit_path, class: 'login-btn profile-edit' %>
    </div>
  </section>
  <div>
    <%= button_to 'Delete my account', delete_account_path, method: :delete, class: 'nav-items logout-btn' %>
  </div>
</div>