<div class='custom-container'>
  <h1>My Profile</h1>

  <%= image_tag Current.user.image_url %>
  <br>
  Name: <%= Current.user.name %><br>
  Email: <%= Current.user.email %><br>
  Role: <%= Current.user.role %><br>
  <% if Current.user.team %>
  Team: <%= Current.user.team.name %>
  <% end %>

  <%= link_to 'Update my account', dashboard_edit_path, class: 'nav-items login-btn' %>
  <br>
  <%= button_to 'Delete my account', delete_account_path, method: :delete, class: 'nav-items logout-btn' %>
</div>