<div class='profile comp-design'>
  <section class="profile-card">
    <div class="profile-image">
        <%= image_tag Current.user.profile_image %>
    </div>
    <div class="profile-content">
      <article class="profile-contact">
        <h3 class="profile-username"><%= Current.user.name %></h3>
        <p class="profile-email"><%= Current.user.email %></p>
      </article>
      <article class="mini-box">
        <div>
          <p class="profile-role">Role</p>
          <p class="profile-role"><%= Current.user.role %></p>
        </div>
        <div>
          <p class="profile-team">Team</p>
          <% if Current.user.team %>
            <p class="profile-team"><%= Current.user.team.name %></p>
          <% end %>
        </div>
      </article>
      <%= link_to 'Update my account', dashboard_edit_path, class: 'login-btn profile-edit' %>
      <%= button_to 'Delete my account', delete_account_path, method: :delete, class: 'logout-btn profile-edit' %>
    </div>
  </section>
  <section class='my-team-requests'>
    <h2> My Requests </h2>
    <% if @team_requests %>
      <% @team_requests.each do |request| %>
        <article class='request-object'>
          Team: <%= request.team_name%><br>
          Message: <%= request.message%><br>
          Date Created: <%= request.created_at%><br>
        </article>
      <% end %>
    <% else %>
      You have no team requests, make some <a>here</a>
    <% end %>
  </section>
  <br>
  <section class='my-support-tickets'>
    <h2> My Support Tickets </h2>
    <% if @support_tickets %>
      <% @support_tickets.each do |ticket| %>
        <article class='support-ticket'>
          Title: <%= ticket.title%><br>
          Message: <%= ticket.message%><br>
        <%= link_to "View", support_ticket_path(ticket), class: 'login-btn profile-edit' %>
        </article>
      <% end %>
    <% else %>
      You have no support tickets, make some <a>here</a>
    <% end %>
  </section>
  <div>
  </div>
</div>