<div class="login-page">
  <div class="form">
    <%= form_with url: login_path, html: { class: 'login-form' } do |form| %>
      <%= form.text_field :email, placeholder: 'email' %>
      <%= form.password_field :password, placeholder: 'password' %>
      <%= form.submit 'Login', class: 'button' %>
      <p class="message">Not registered? <%= link_to 'Create an account', register_path %></p>
    <% end %>
  </div>
</div>
