<tr>
  <th scope="row"><%= blog.id %></th>
  <td><%= blog.title %></td>
  <td><%= blog.body.last(75) %></td>
  <td><%= blog.published %></td>
  <td><%= blog.created_at.to_date %></td>
  <td><%= link_to "Show", blog_path(blog) %></td>  
</tr>
