<div id="<%= dom_id event %>">
  Name: <%= event.name %><br>
  Description: <%= event.description %><br>
  Date: <%= event.date %><br>
  Created: <%= event.created_at %><br>
  Updated: <%= event.updated_at %>
</div>
