<div id="admin-dashboard">
  <h1 id="admin-dashboard-title">Dashboard</h1>

  <div id="admin-dashboard-components">
    <div class="admin-dashboard-components-row">
      <div class="admin-dashboard-stats-panel red">
        <div class="admin-dashboard-stats-panel-content">
          <div>
            <h1><%= User.count %></h1>
            <p>Total Registered Users</p>
          </div>

          <svg class="admin-dashboard-stats-panel-icon" width="224" height="240" viewBox="0 0 224 240" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M112 128C147.346 128 176 99.3463 176 64C176 28.6538 147.346 6.10352e-05 112 6.10352e-05C76.6538 6.10352e-05 48 28.6538 48 64C48 99.3463 76.6538 128 112 128Z" fill="#C0392B"/>
            <path d="M24.0001 240H122.88C108.833 228.741 99.5304 212.613 96.8186 194.816C94.1067 177.018 98.1834 158.852 108.24 143.92C87.5582 142.893 68.0708 133.923 53.84 118.88C37.8873 125.614 24.2726 136.9 14.697 151.327C5.12143 165.755 0.00955523 182.684 6.10352e-05 200V216C0.0190538 222.359 2.55372 228.453 7.05048 232.95C11.5472 237.446 17.6407 239.981 24.0001 240Z" fill="#C0392B"/>
            <path d="M112 184C112 195.076 115.284 205.903 121.438 215.112C127.591 224.321 136.337 231.499 146.57 235.737C156.802 239.976 168.062 241.085 178.925 238.924C189.788 236.763 199.766 231.43 207.598 223.598C215.43 215.766 220.763 205.788 222.924 194.925C225.085 184.062 223.976 172.802 219.737 162.57C215.499 152.337 208.321 143.591 199.112 137.438C189.903 131.284 179.076 128 168 128C153.153 128.017 138.919 133.922 128.421 144.421C117.922 154.919 112.017 169.153 112 184ZM176 168V176H184C186.122 176 188.157 176.843 189.657 178.343C191.157 179.843 192 181.878 192 184C192 186.122 191.157 188.157 189.657 189.657C188.157 191.157 186.122 192 184 192H176V200C176 202.122 175.157 204.157 173.657 205.657C172.157 207.157 170.122 208 168 208C165.878 208 163.843 207.157 162.343 205.657C160.843 204.157 160 202.122 160 200V192H152C149.878 192 147.843 191.157 146.343 189.657C144.843 188.157 144 186.122 144 184C144 181.878 144.843 179.843 146.343 178.343C147.843 176.843 149.878 176 152 176H160V168C160 165.878 160.843 163.843 162.343 162.343C163.843 160.843 165.878 160 168 160C170.122 160 172.157 160.843 173.657 162.343C175.157 163.843 176 165.878 176 168Z" fill="#C0392B"/>
          </svg>
        </div>

        <div class="admin-dashboard-stats-panel-action">
          <p>
            <%= link_to 'View All Users', admin_users_path %>

            <svg class="admin-dashboard-stats-action-icon" width="242" height="242" viewBox="0 0 242 242" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M121 0C54.1263 0 0 54.1178 0 121C0 187.873 54.1172 242 121 242C187.874 242 242 187.883 242 121C242 54.1258 187.882 0 121 0ZM178.547 128.13L130.419 176.258C129.484 177.196 128.372 177.939 127.149 178.446C125.925 178.953 124.613 179.213 123.289 179.211C114.385 179.211 109.789 168.367 116.159 161.997L147.073 131.083H70.5833C65.0143 131.083 60.5 126.569 60.5 121C60.5 115.431 65.0143 110.917 70.5833 110.917H147.073L116.159 80.0027C112.221 76.0646 112.221 69.6799 116.159 65.7423C120.097 61.8043 126.481 61.8043 130.419 65.7423L178.547 113.87C182.485 117.808 182.47 124.207 178.547 128.13Z" fill="black"/>
            </svg>
          </p>
        </div>
      </div>
      
      <div class="admin-dashboard-stats-panel green">
        <div class="admin-dashboard-stats-panel-content">
          <div>
            <h1><%= Event.count %></h1>
            <p>Total Active Events</p>
          </div>

          <svg class="admin-dashboard-stats-panel-icon"  width="247" height="231" viewBox="0 0 247 231" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M219.618 0H196.581V23.0368C196.581 27.6442 192.742 30.7158 188.902 30.7158C185.063 30.7158 181.223 27.6442 181.223 23.0368V0H58.36V23.0368C58.36 27.6442 54.5205 30.7158 50.681 30.7158C46.8416 30.7158 43.0021 27.6442 43.0021 23.0368V0H19.9653C8.44684 0 0 9.98263 0 23.0368V50.681H245.726V23.0368C245.726 9.98263 231.904 0 219.618 0ZM0 66.8068V207.332C0 221.154 8.44684 230.368 20.7332 230.368H220.386C232.672 230.368 246.494 220.386 246.494 207.332V66.8068H0ZM68.3426 195.813H49.9131C46.8416 195.813 43.77 193.509 43.77 189.67V170.473C43.77 167.401 46.0737 164.329 49.9131 164.329H69.1105C72.1821 164.329 75.2537 166.633 75.2537 170.473V189.67C74.4858 193.509 72.1821 195.813 68.3426 195.813ZM68.3426 126.703H49.9131C46.8416 126.703 43.77 124.399 43.77 120.559V101.362C43.77 98.2905 46.0737 95.2189 49.9131 95.2189H69.1105C72.1821 95.2189 75.2537 97.5226 75.2537 101.362V120.559C74.4858 124.399 72.1821 126.703 68.3426 126.703ZM129.774 195.813H110.577C107.505 195.813 104.434 193.509 104.434 189.67V170.473C104.434 167.401 106.737 164.329 110.577 164.329H129.774C132.846 164.329 135.917 166.633 135.917 170.473V189.67C135.917 193.509 133.614 195.813 129.774 195.813ZM129.774 126.703H110.577C107.505 126.703 104.434 124.399 104.434 120.559V101.362C104.434 98.2905 106.737 95.2189 110.577 95.2189H129.774C132.846 95.2189 135.917 97.5226 135.917 101.362V120.559C135.917 124.399 133.614 126.703 129.774 126.703ZM191.206 195.813H172.008C168.937 195.813 165.865 193.509 165.865 189.67V170.473C165.865 167.401 168.169 164.329 172.008 164.329H191.206C194.277 164.329 197.349 166.633 197.349 170.473V189.67C197.349 193.509 195.045 195.813 191.206 195.813ZM191.206 126.703H172.008C168.937 126.703 165.865 124.399 165.865 120.559V101.362C165.865 98.2905 168.169 95.2189 172.008 95.2189H191.206C194.277 95.2189 197.349 97.5226 197.349 101.362V120.559C197.349 124.399 195.045 126.703 191.206 126.703Z" fill="black"/>
          </svg>
        </div>

        <div class="admin-dashboard-stats-panel-action">
          <p>
            <%= link_to 'Manage All Events', admin_events_path %>

            <svg class="admin-dashboard-stats-action-icon" width="242" height="242" viewBox="0 0 242 242" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M121 0C54.1263 0 0 54.1178 0 121C0 187.873 54.1172 242 121 242C187.874 242 242 187.883 242 121C242 54.1258 187.882 0 121 0ZM178.547 128.13L130.419 176.258C129.484 177.196 128.372 177.939 127.149 178.446C125.925 178.953 124.613 179.213 123.289 179.211C114.385 179.211 109.789 168.367 116.159 161.997L147.073 131.083H70.5833C65.0143 131.083 60.5 126.569 60.5 121C60.5 115.431 65.0143 110.917 70.5833 110.917H147.073L116.159 80.0027C112.221 76.0646 112.221 69.6799 116.159 65.7423C120.097 61.8043 126.481 61.8043 130.419 65.7423L178.547 113.87C182.485 117.808 182.47 124.207 178.547 128.13Z" fill="black"/>
            </svg>
          </p>
        </div>
      </div>
      
      <div class="admin-dashboard-stats-panel turq">
        <div class="admin-dashboard-stats-panel-content">
          <div>
            <h1><%= Blog.where(published: true).count %></h1>
            <p>Total Published Blogs</p>
          </div>

          <svg class="admin-dashboard-stats-panel-icon" width="249" height="230" viewBox="0 0 249 230" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M225.4 0H23C16.9 0 11.0499 2.42321 6.73654 6.73654C2.42321 11.0499 0 16.9 0 23V55.2H138L169.28 23.92C173.882 19.3596 179.942 16.5636 186.398 16.0217C192.855 15.4798 199.296 17.2265 204.594 20.9559C209.892 24.6854 213.709 30.1599 215.377 36.4206C217.045 42.6813 216.457 49.3292 213.716 55.2H248.4V23C248.4 16.9 245.977 11.0499 241.663 6.73654C237.35 2.42321 231.5 0 225.4 0ZM50.6 36.8C48.7804 36.8 47.0017 36.2604 45.4888 35.2495C43.9758 34.2386 42.7966 32.8018 42.1003 31.1207C41.404 29.4396 41.2218 27.5898 41.5768 25.8052C41.9318 24.0205 42.808 22.3813 44.0946 21.0946C45.3813 19.808 47.0205 18.9318 48.8052 18.5768C50.5898 18.2218 52.4396 18.404 54.1207 19.1003C55.8018 19.7966 57.2386 20.9758 58.2495 22.4888C59.2604 24.0017 59.8 25.7804 59.8 27.6C59.8 30.04 58.8307 32.38 57.1054 34.1054C55.38 35.8307 53.04 36.8 50.6 36.8ZM87.4 36.8C85.5804 36.8 83.8017 36.2604 82.2887 35.2495C80.7758 34.2386 79.5966 32.8018 78.9003 31.1207C78.204 29.4396 78.0218 27.5898 78.3768 25.8052C78.7318 24.0205 79.608 22.3813 80.8946 21.0946C82.1813 19.808 83.8205 18.9318 85.6052 18.5768C87.3898 18.2218 89.2396 18.404 90.9207 19.1003C92.6018 19.7966 94.0386 20.9758 95.0495 22.4888C96.0604 24.0017 96.6 25.7804 96.6 27.6C96.6 30.04 95.6307 32.38 93.9054 34.1054C92.18 35.8307 89.84 36.8 87.4 36.8ZM207 64.4L150.88 120.152C148.294 122.741 144.787 124.197 141.128 124.2H121.624C117.964 124.2 114.454 122.746 111.866 120.158C109.278 117.57 107.824 114.06 107.824 110.4V90.896C107.827 87.2372 109.283 83.7295 111.872 81.144L128.616 64.4H0V207C0 213.1 2.42321 218.95 6.73654 223.263C11.0499 227.577 16.9 230 23 230H225.4C231.5 230 237.35 227.577 241.663 223.263C245.977 218.95 248.4 213.1 248.4 207V64.4H207ZM41.4 110.4H78.2C79.42 110.4 80.59 110.885 81.4527 111.747C82.3154 112.61 82.8 113.78 82.8 115C82.8 116.22 82.3154 117.39 81.4527 118.253C80.59 119.115 79.42 119.6 78.2 119.6H41.4C40.18 119.6 39.01 119.115 38.1473 118.253C37.2846 117.39 36.8 116.22 36.8 115C36.8 113.78 37.2846 112.61 38.1473 111.747C39.01 110.885 40.18 110.4 41.4 110.4ZM41.4 147.2H170.2C171.42 147.2 172.59 147.685 173.453 148.547C174.315 149.41 174.8 150.58 174.8 151.8C174.8 153.02 174.315 154.19 173.453 155.053C172.59 155.915 171.42 156.4 170.2 156.4H41.4C40.18 156.4 39.01 155.915 38.1473 155.053C37.2846 154.19 36.8 153.02 36.8 151.8C36.8 150.58 37.2846 149.41 38.1473 148.547C39.01 147.685 40.18 147.2 41.4 147.2ZM207 193.2H41.4C40.18 193.2 39.01 192.715 38.1473 191.853C37.2846 190.99 36.8 189.82 36.8 188.6C36.8 187.38 37.2846 186.21 38.1473 185.347C39.01 184.485 40.18 184 41.4 184H207C208.22 184 209.39 184.485 210.253 185.347C211.115 186.21 211.6 187.38 211.6 188.6C211.6 189.82 211.115 190.99 210.253 191.853C209.39 192.715 208.22 193.2 207 193.2ZM201.572 30.452C203.283 32.1609 204.64 34.1902 205.566 36.4239C206.492 38.6576 206.968 41.052 206.968 43.47C206.968 45.888 206.492 48.2824 205.566 50.5161C204.64 52.7498 203.283 54.7791 201.572 56.488L144.44 113.62C144.012 114.064 143.497 114.416 142.927 114.654C142.357 114.891 141.745 115.009 141.128 115H121.624C120.404 115 119.234 114.515 118.371 113.653C117.509 112.79 117.024 111.62 117.024 110.4V90.896C117.017 90.2927 117.136 89.6945 117.373 89.14C117.611 88.5854 117.962 88.0867 118.404 87.676L175.628 30.452C179.075 27.025 183.739 25.1014 188.6 25.1014C193.461 25.1014 198.125 27.025 201.572 30.452Z" fill="black"/>
          </svg>
        </div>

        <div class="admin-dashboard-stats-panel-action">
          <p>
            <%= link_to 'Manage All Blogs', admin_blogs_path %>

            <svg class="admin-dashboard-stats-action-icon" width="242" height="242" viewBox="0 0 242 242" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M121 0C54.1263 0 0 54.1178 0 121C0 187.873 54.1172 242 121 242C187.874 242 242 187.883 242 121C242 54.1258 187.882 0 121 0ZM178.547 128.13L130.419 176.258C129.484 177.196 128.372 177.939 127.149 178.446C125.925 178.953 124.613 179.213 123.289 179.211C114.385 179.211 109.789 168.367 116.159 161.997L147.073 131.083H70.5833C65.0143 131.083 60.5 126.569 60.5 121C60.5 115.431 65.0143 110.917 70.5833 110.917H147.073L116.159 80.0027C112.221 76.0646 112.221 69.6799 116.159 65.7423C120.097 61.8043 126.481 61.8043 130.419 65.7423L178.547 113.87C182.485 117.808 182.47 124.207 178.547 128.13Z" fill="black"/>
            </svg>
          </p>
        </div>
      </div>
      
      <div class="admin-dashboard-stats-panel blue">
        <div class="admin-dashboard-stats-panel-content">
          <div>
            <h1>86%</h1>
            <p>Rate of Participants</p>
          </div>

          <svg class="admin-dashboard-stats-panel-icon" width="267" height="261" viewBox="0 0 267 261" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M141.111 4.23514C140.267 2.93512 139.111 1.86672 137.749 1.12708C136.386 0.387432 134.861 0 133.311 0C131.761 0 130.235 0.387432 128.873 1.12708C127.511 1.86672 126.355 2.93512 125.511 4.23514L115.763 19.2528L98.4764 23.8783C96.9776 24.2786 95.6028 25.0475 94.477 26.1148C93.3513 27.1822 92.5104 28.5142 92.0309 29.9895C91.5515 31.4649 91.4487 33.0368 91.7319 34.562C92.0151 36.0872 92.6753 37.5174 93.6524 38.7223L104.925 52.6239L103.982 70.4937C103.897 72.0437 104.201 73.5904 104.867 74.9926C105.533 76.3948 106.54 77.6077 107.795 78.5204C109.051 79.4331 110.515 80.0166 112.054 80.2175C113.594 80.4184 115.159 80.2303 116.607 79.6705L133.311 73.2467L150.015 79.6705C151.463 80.2236 153.026 80.4065 154.563 80.2028C156.099 79.999 157.56 79.415 158.814 78.5036C160.068 77.5922 161.074 76.3823 161.742 74.9836C162.41 73.585 162.719 72.0417 162.639 70.4937L161.697 52.6239L172.969 38.7223C173.94 37.5153 174.595 36.0854 174.874 34.5618C175.154 33.0383 175.05 31.4691 174.571 29.9959C174.092 28.5228 173.254 27.1921 172.132 26.124C171.01 25.0559 169.64 24.2841 168.145 23.8783L150.858 19.2528L141.111 4.23514ZM183.944 250.966V126.955C183.944 121.2 181.658 115.68 177.588 111.61C173.518 107.54 167.998 105.254 162.242 105.254H104.379C98.6236 105.254 93.1037 107.54 89.0338 111.61C84.9639 115.68 82.6775 121.2 82.6775 126.955V250.966C82.6775 256.1 86.8318 260.266 91.9782 260.266H174.643C177.11 260.266 179.476 259.286 181.22 257.542C182.964 255.798 183.944 253.432 183.944 250.966ZM70.2765 179.66H21.7018C15.9461 179.66 10.4262 181.946 6.3563 186.016C2.28643 190.086 0 195.606 0 201.362V250.966C0 256.1 4.16674 260.266 9.30075 260.266H72.3599C70.9832 257.359 70.2715 254.182 70.2765 250.966V179.66ZM196.345 142.457V250.966C196.345 254.289 195.601 257.439 194.262 260.266H257.321C259.788 260.266 262.153 259.286 263.897 257.542C265.642 255.798 266.622 253.432 266.622 250.966V164.159C266.625 161.308 266.066 158.484 264.976 155.85C263.887 153.215 262.288 150.822 260.273 148.806C258.257 146.79 255.863 145.191 253.229 144.102C250.594 143.013 247.771 142.453 244.92 142.457H196.345Z" fill="black"/>
          </svg>
        </div>

        <div class="admin-dashboard-stats-panel-action">
          <p>
            View All Teams

            <svg class="admin-dashboard-stats-action-icon" width="242" height="242" viewBox="0 0 242 242" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M121 0C54.1263 0 0 54.1178 0 121C0 187.873 54.1172 242 121 242C187.874 242 242 187.883 242 121C242 54.1258 187.882 0 121 0ZM178.547 128.13L130.419 176.258C129.484 177.196 128.372 177.939 127.149 178.446C125.925 178.953 124.613 179.213 123.289 179.211C114.385 179.211 109.789 168.367 116.159 161.997L147.073 131.083H70.5833C65.0143 131.083 60.5 126.569 60.5 121C60.5 115.431 65.0143 110.917 70.5833 110.917H147.073L116.159 80.0027C112.221 76.0646 112.221 69.6799 116.159 65.7423C120.097 61.8043 126.481 61.8043 130.419 65.7423L178.547 113.87C182.485 117.808 182.47 124.207 178.547 128.13Z" fill="black"/>
            </svg>
          </p>
        </div>
      </div>
    </div>
    <div class="admin-dashboard-components-row nospace">
      <div class="admin-dashboard-components-column">
        <div class="admin-dashboard-widget">
          <div class="admin-dashboard-widget-header">
            <h1>Monthly User Registrations</h1>
          </div>

          <div class="admin-dashboard-widget-content">
            <div id="total-users-per-month-chart" class="admin-dashboard-widget-chart"></div>
          </div>
        </div>

        <div class="admin-dashboard-widget">
          <div class="admin-dashboard-widget-header">
            <h1>Recent Support Tickets (8/10)</h1>
          </div>

          <div class="admin-dashboard-widget-content nopadding scrollable">
            <div class="admin-dashboard-support-item">
              <div class="admin-dashboard-support-item-info">
                <svg class="admin-dashboard-support-item-icon" width="242" height="242" viewBox="0 0 242 242" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M242 163.775C242 133.745 224.772 106.944 198.969 93.9073C198.169 151.486 151.486 198.169 93.9073 198.969C106.944 224.772 133.745 242 163.775 242C177.856 242 191.548 238.25 203.578 231.125L241.658 241.658L231.125 203.578C238.25 191.548 242 177.855 242 163.775Z" fill="black"/>
                  <path d="M184.809 92.4043C184.809 41.452 143.357 0 92.4043 0C41.452 0 0 41.452 0 92.4043C0 109.01 4.42028 125.178 12.8137 139.373L0.339367 184.467L45.4355 171.995C59.6303 180.388 75.7985 184.809 92.4043 184.809C143.357 184.809 184.809 143.357 184.809 92.4043ZM78.2246 70.8984H64.0449C64.0449 55.2601 76.766 42.5391 92.4043 42.5391C108.043 42.5391 120.764 55.2601 120.764 70.8984C120.764 78.8358 117.403 86.4649 111.541 91.8262L99.4941 102.852V113.91H85.3145V96.6086L101.968 81.3654C104.944 78.642 106.584 74.9255 106.584 70.8984C106.584 63.0793 100.223 56.7188 92.4043 56.7188C84.5851 56.7188 78.2246 63.0793 78.2246 70.8984ZM85.3145 128.09H99.4941V142.27H85.3145V128.09Z" fill="black"/>
                </svg>

                <div>
                  <h1>[#29] Forgot Password</h1>
                  <p>Ticket submitted by <a href="#">some.user@mail.com</a></p>
                </div>
              </div>

              <div class="admin-dashboard-support-item-actions">
                <a href="#" class="admin-dashboard-support-item-action">View</a>
                <a href="#" class="admin-dashboard-support-item-action">Close</a>
              </div>
            </div>
            <div class="admin-dashboard-support-item">
              <div class="admin-dashboard-support-item-info">
                <svg class="admin-dashboard-support-item-icon" width="242" height="242" viewBox="0 0 242 242" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M242 163.775C242 133.745 224.772 106.944 198.969 93.9073C198.169 151.486 151.486 198.169 93.9073 198.969C106.944 224.772 133.745 242 163.775 242C177.856 242 191.548 238.25 203.578 231.125L241.658 241.658L231.125 203.578C238.25 191.548 242 177.855 242 163.775Z" fill="black"/>
                  <path d="M184.809 92.4043C184.809 41.452 143.357 0 92.4043 0C41.452 0 0 41.452 0 92.4043C0 109.01 4.42028 125.178 12.8137 139.373L0.339367 184.467L45.4355 171.995C59.6303 180.388 75.7985 184.809 92.4043 184.809C143.357 184.809 184.809 143.357 184.809 92.4043ZM78.2246 70.8984H64.0449C64.0449 55.2601 76.766 42.5391 92.4043 42.5391C108.043 42.5391 120.764 55.2601 120.764 70.8984C120.764 78.8358 117.403 86.4649 111.541 91.8262L99.4941 102.852V113.91H85.3145V96.6086L101.968 81.3654C104.944 78.642 106.584 74.9255 106.584 70.8984C106.584 63.0793 100.223 56.7188 92.4043 56.7188C84.5851 56.7188 78.2246 63.0793 78.2246 70.8984ZM85.3145 128.09H99.4941V142.27H85.3145V128.09Z" fill="black"/>
                </svg>

                <div>
                  <h1>[#29] Cant't access event</h1>
                  <p>Ticket submitted by <a href="#">some.user@mail.com</a></p>
                </div>
              </div>

              <div class="admin-dashboard-support-item-actions">
                <a href="#" class="admin-dashboard-support-item-action">View</a>
                <a href="#" class="admin-dashboard-support-item-action">Close</a>
              </div>
            </div>
            <div class="admin-dashboard-support-item">
              <div class="admin-dashboard-support-item-info">
                <svg class="admin-dashboard-support-item-icon" width="242" height="242" viewBox="0 0 242 242" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M242 163.775C242 133.745 224.772 106.944 198.969 93.9073C198.169 151.486 151.486 198.169 93.9073 198.969C106.944 224.772 133.745 242 163.775 242C177.856 242 191.548 238.25 203.578 231.125L241.658 241.658L231.125 203.578C238.25 191.548 242 177.855 242 163.775Z" fill="black"/>
                  <path d="M184.809 92.4043C184.809 41.452 143.357 0 92.4043 0C41.452 0 0 41.452 0 92.4043C0 109.01 4.42028 125.178 12.8137 139.373L0.339367 184.467L45.4355 171.995C59.6303 180.388 75.7985 184.809 92.4043 184.809C143.357 184.809 184.809 143.357 184.809 92.4043ZM78.2246 70.8984H64.0449C64.0449 55.2601 76.766 42.5391 92.4043 42.5391C108.043 42.5391 120.764 55.2601 120.764 70.8984C120.764 78.8358 117.403 86.4649 111.541 91.8262L99.4941 102.852V113.91H85.3145V96.6086L101.968 81.3654C104.944 78.642 106.584 74.9255 106.584 70.8984C106.584 63.0793 100.223 56.7188 92.4043 56.7188C84.5851 56.7188 78.2246 63.0793 78.2246 70.8984ZM85.3145 128.09H99.4941V142.27H85.3145V128.09Z" fill="black"/>
                </svg>

                <div>
                  <h1>[#29] Cannot approve more than 20 members for the team</h1>
                  <p>Ticket submitted by <a href="#">some.user@mail.com</a></p>
                </div>
              </div>

              <div class="admin-dashboard-support-item-actions">
                <a href="#" class="admin-dashboard-support-item-action">View</a>
                <a href="#" class="admin-dashboard-support-item-action">Close</a>
              </div>
            </div>
            <div class="admin-dashboard-support-item">
              <div class="admin-dashboard-support-item-info">
                <svg class="admin-dashboard-support-item-icon" width="242" height="242" viewBox="0 0 242 242" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M242 163.775C242 133.745 224.772 106.944 198.969 93.9073C198.169 151.486 151.486 198.169 93.9073 198.969C106.944 224.772 133.745 242 163.775 242C177.856 242 191.548 238.25 203.578 231.125L241.658 241.658L231.125 203.578C238.25 191.548 242 177.855 242 163.775Z" fill="black"/>
                  <path d="M184.809 92.4043C184.809 41.452 143.357 0 92.4043 0C41.452 0 0 41.452 0 92.4043C0 109.01 4.42028 125.178 12.8137 139.373L0.339367 184.467L45.4355 171.995C59.6303 180.388 75.7985 184.809 92.4043 184.809C143.357 184.809 184.809 143.357 184.809 92.4043ZM78.2246 70.8984H64.0449C64.0449 55.2601 76.766 42.5391 92.4043 42.5391C108.043 42.5391 120.764 55.2601 120.764 70.8984C120.764 78.8358 117.403 86.4649 111.541 91.8262L99.4941 102.852V113.91H85.3145V96.6086L101.968 81.3654C104.944 78.642 106.584 74.9255 106.584 70.8984C106.584 63.0793 100.223 56.7188 92.4043 56.7188C84.5851 56.7188 78.2246 63.0793 78.2246 70.8984ZM85.3145 128.09H99.4941V142.27H85.3145V128.09Z" fill="black"/>
                </svg>

                <div>
                  <h1>[#29] Where do I see events?</h1>
                  <p>Ticket submitted by <a href="#">some.user@mail.com</a></p>
                </div>
              </div>

              <div class="admin-dashboard-support-item-actions">
                <a href="#" class="admin-dashboard-support-item-action">View</a>
                <a href="#" class="admin-dashboard-support-item-action">Close</a>
              </div>
            </div>
            <div class="admin-dashboard-support-item">
              <div class="admin-dashboard-support-item-info">
                <svg class="admin-dashboard-support-item-icon" width="242" height="242" viewBox="0 0 242 242" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M242 163.775C242 133.745 224.772 106.944 198.969 93.9073C198.169 151.486 151.486 198.169 93.9073 198.969C106.944 224.772 133.745 242 163.775 242C177.856 242 191.548 238.25 203.578 231.125L241.658 241.658L231.125 203.578C238.25 191.548 242 177.855 242 163.775Z" fill="black"/>
                  <path d="M184.809 92.4043C184.809 41.452 143.357 0 92.4043 0C41.452 0 0 41.452 0 92.4043C0 109.01 4.42028 125.178 12.8137 139.373L0.339367 184.467L45.4355 171.995C59.6303 180.388 75.7985 184.809 92.4043 184.809C143.357 184.809 184.809 143.357 184.809 92.4043ZM78.2246 70.8984H64.0449C64.0449 55.2601 76.766 42.5391 92.4043 42.5391C108.043 42.5391 120.764 55.2601 120.764 70.8984C120.764 78.8358 117.403 86.4649 111.541 91.8262L99.4941 102.852V113.91H85.3145V96.6086L101.968 81.3654C104.944 78.642 106.584 74.9255 106.584 70.8984C106.584 63.0793 100.223 56.7188 92.4043 56.7188C84.5851 56.7188 78.2246 63.0793 78.2246 70.8984ZM85.3145 128.09H99.4941V142.27H85.3145V128.09Z" fill="black"/>
                </svg>

                <div>
                  <h1>[#29] Why can't I create events?</h1>
                  <p>Ticket submitted by <a href="#">some.user@mail.com</a></p>
                </div>
              </div>

              <div class="admin-dashboard-support-item-actions">
                <a href="#" class="admin-dashboard-support-item-action">View</a>
                <a href="#" class="admin-dashboard-support-item-action">Close</a>
              </div>
            </div>
            <div class="admin-dashboard-support-item">
              <div class="admin-dashboard-support-item-info">
                <svg class="admin-dashboard-support-item-icon" width="242" height="242" viewBox="0 0 242 242" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M242 163.775C242 133.745 224.772 106.944 198.969 93.9073C198.169 151.486 151.486 198.169 93.9073 198.969C106.944 224.772 133.745 242 163.775 242C177.856 242 191.548 238.25 203.578 231.125L241.658 241.658L231.125 203.578C238.25 191.548 242 177.855 242 163.775Z" fill="black"/>
                  <path d="M184.809 92.4043C184.809 41.452 143.357 0 92.4043 0C41.452 0 0 41.452 0 92.4043C0 109.01 4.42028 125.178 12.8137 139.373L0.339367 184.467L45.4355 171.995C59.6303 180.388 75.7985 184.809 92.4043 184.809C143.357 184.809 184.809 143.357 184.809 92.4043ZM78.2246 70.8984H64.0449C64.0449 55.2601 76.766 42.5391 92.4043 42.5391C108.043 42.5391 120.764 55.2601 120.764 70.8984C120.764 78.8358 117.403 86.4649 111.541 91.8262L99.4941 102.852V113.91H85.3145V96.6086L101.968 81.3654C104.944 78.642 106.584 74.9255 106.584 70.8984C106.584 63.0793 100.223 56.7188 92.4043 56.7188C84.5851 56.7188 78.2246 63.0793 78.2246 70.8984ZM85.3145 128.09H99.4941V142.27H85.3145V128.09Z" fill="black"/>
                </svg>

                <div>
                  <h1>[#29] How can I create a blog post?</h1>
                  <p>Ticket submitted by <a href="#">some.user@mail.com</a></p>
                </div>
              </div>

              <div class="admin-dashboard-support-item-actions">
                <a href="#" class="admin-dashboard-support-item-action">View</a>
                <a href="#" class="admin-dashboard-support-item-action">Close</a>
              </div>
            </div>
            <div class="admin-dashboard-support-item">
              <div class="admin-dashboard-support-item-info">
                <svg class="admin-dashboard-support-item-icon" width="242" height="242" viewBox="0 0 242 242" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M242 163.775C242 133.745 224.772 106.944 198.969 93.9073C198.169 151.486 151.486 198.169 93.9073 198.969C106.944 224.772 133.745 242 163.775 242C177.856 242 191.548 238.25 203.578 231.125L241.658 241.658L231.125 203.578C238.25 191.548 242 177.855 242 163.775Z" fill="black"/>
                  <path d="M184.809 92.4043C184.809 41.452 143.357 0 92.4043 0C41.452 0 0 41.452 0 92.4043C0 109.01 4.42028 125.178 12.8137 139.373L0.339367 184.467L45.4355 171.995C59.6303 180.388 75.7985 184.809 92.4043 184.809C143.357 184.809 184.809 143.357 184.809 92.4043ZM78.2246 70.8984H64.0449C64.0449 55.2601 76.766 42.5391 92.4043 42.5391C108.043 42.5391 120.764 55.2601 120.764 70.8984C120.764 78.8358 117.403 86.4649 111.541 91.8262L99.4941 102.852V113.91H85.3145V96.6086L101.968 81.3654C104.944 78.642 106.584 74.9255 106.584 70.8984C106.584 63.0793 100.223 56.7188 92.4043 56.7188C84.5851 56.7188 78.2246 63.0793 78.2246 70.8984ZM85.3145 128.09H99.4941V142.27H85.3145V128.09Z" fill="black"/>
                </svg>

                <div>
                  <h1>[#29] I can't remember my username or email to login</h1>
                  <p>Ticket submitted by <a href="#">some.user@mail.com</a></p>
                </div>
              </div>

              <div class="admin-dashboard-support-item-actions">
                <a href="#" class="admin-dashboard-support-item-action">View</a>
                <a href="#" class="admin-dashboard-support-item-action">Close</a>
              </div>
            </div>
            <div class="admin-dashboard-support-item">
              <div class="admin-dashboard-support-item-info">
                <svg class="admin-dashboard-support-item-icon" width="242" height="242" viewBox="0 0 242 242" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M242 163.775C242 133.745 224.772 106.944 198.969 93.9073C198.169 151.486 151.486 198.169 93.9073 198.969C106.944 224.772 133.745 242 163.775 242C177.856 242 191.548 238.25 203.578 231.125L241.658 241.658L231.125 203.578C238.25 191.548 242 177.855 242 163.775Z" fill="black"/>
                  <path d="M184.809 92.4043C184.809 41.452 143.357 0 92.4043 0C41.452 0 0 41.452 0 92.4043C0 109.01 4.42028 125.178 12.8137 139.373L0.339367 184.467L45.4355 171.995C59.6303 180.388 75.7985 184.809 92.4043 184.809C143.357 184.809 184.809 143.357 184.809 92.4043ZM78.2246 70.8984H64.0449C64.0449 55.2601 76.766 42.5391 92.4043 42.5391C108.043 42.5391 120.764 55.2601 120.764 70.8984C120.764 78.8358 117.403 86.4649 111.541 91.8262L99.4941 102.852V113.91H85.3145V96.6086L101.968 81.3654C104.944 78.642 106.584 74.9255 106.584 70.8984C106.584 63.0793 100.223 56.7188 92.4043 56.7188C84.5851 56.7188 78.2246 63.0793 78.2246 70.8984ZM85.3145 128.09H99.4941V142.27H85.3145V128.09Z" fill="black"/>
                </svg>

                <div>
                  <h1>[#29] Why is my name not in the leaderboard?</h1>
                  <p>Ticket submitted by <a href="#">some.user@mail.com</a></p>
                </div>
              </div>

              <div class="admin-dashboard-support-item-actions">
                <a href="#" class="admin-dashboard-support-item-action">View</a>
                <a href="#" class="admin-dashboard-support-item-action">Close</a>
              </div>
            </div>
          </div>
        </div>

        <div class="admin-dashboard-widget">
          <div class="admin-dashboard-widget-header">
            <h1>Latest Registered Users</h1>
          </div>

          <div class="admin-dashboard-widget-content">
            <p>No data available.</p>
          </div>
        </div>
      </div>
      <div class="admin-dashboard-components-column">
        <div class="admin-dashboard-widget">
          <div class="admin-dashboard-widget-header">
            <h1>Site Views</h1>
          </div>

          <div class="admin-dashboard-widget-content">
            <div id="total-site-views-geo-chart" class="admin-dashboard-widget-chart"></div>
          </div>
        </div>

        <div class="admin-dashboard-widget">
          <div class="admin-dashboard-widget-header">
            <h1>Quick Event Manager</h1>
          </div>

          <div class="admin-dashboard-widget-content">
            <input type="date" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load("current", {packages:['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ["Month", "Users Registered", { role: "style" } ],
      ["Jan", 74, "#706fd3"],
      ["Feb", 26, "#706fd3"],
      ["Mar", 12, "#706fd3"],
      ["Apr", 36, "#706fd3"],
      ["May", 92, "#706fd3"],
      ["Jun", 11, "#706fd3"],
      ["Jul", 42, "#706fd3"],
      ["Aug", 5, "#706fd3"],
      ["Sep", 61, "#706fd3"],
      ["Oct", 17, "#706fd3"],
      ["Nov", 19, "#706fd3"],
      ["Dec", 21, "#706fd3"],
    ]);

    var view = new google.visualization.DataView(data);
    view.setColumns([0, 1,
                      { calc: "stringify",
                        sourceColumn: 1,
                        type: "string",
                        role: "annotation" },
                      2]);

    var options = {
      bar: { groupWidth: "95%" },
      chartArea: { left: 5, right: 15, top: 0, bottom: 20 },
      width: "100%",
      height: 320,
      legend: { position: "none" },
    };
    var chart = new google.visualization.ColumnChart(document.getElementById("total-users-per-month-chart"));
    chart.draw(view, options);
}
</script>

<script type="text/javascript">
  google.charts.load('current', {
    'packages':['geochart'],
  });
  google.charts.setOnLoadCallback(drawRegionsMap);

  function drawRegionsMap() {
    var data = google.visualization.arrayToDataTable([
      ['Country', 'Views'],
      ['Germany', 200],
      ['United States', 300],
      ['Brazil', 400],
      ['Canada', 500],
      ['France', 600],
      ['RU', 700]
    ]);

    var options = {
      keepAspectRatio: false,
      width: "100%",
      height: 450
    };

    var chart = new google.visualization.GeoChart(document.getElementById('total-site-views-geo-chart'));

    chart.draw(data, options);
  }
</script>