<p style="color: green"><%= notice %></p>

<%= render @team_request %>

<div>
  <%= link_to "Edit this team request", edit_api_team_request_path(@team_request) %> |
  <%= link_to "Back to team requests", api_team_requests_path %>

  <%= button_to "Destroy this team request", [:api, @team_request], method: :delete %>
</div>
