<%= form_with(model: [:admin, user]) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='mb-3'>
    <%= form.label :email %>
    <%= form.text_field :email, class: 'form-control', placeholder: 'john.smith@mail.com' %>
  </div>
  <div class='mb-3'>
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: 'form-control', placeholder: 'John' %>
  </div>
  <div class='mb-3'>
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: 'form-control', placeholder: 'Smith' %>
  </div>
  <div class='mb-3'><br>
    <%= form.label :role %>
    <%= form.select :role, ['admin', 'user'], class: 'form-control' %>
  </div>
  <div class='mb-3'>
    <%= form.label :password %>
    <%= form.password_field :password, class: 'form-control', placeholder: 'password' %>
  </div>
  <div class='mb-3'>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class: 'form-control', placeholder: 'password' %>
  </div>
  <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
