<div id="<%= dom_id blog %>">
  Title: <%= blog.title %><br>
  Body: <%= blog.body %><br>
  Published: <%= blog.published %><br>
  Created: <%= blog.created_at %><br>
  Updated: <%= blog.updated_at %>
</div>
