<tr>
  <th scope="row"><%= blog.id %></th>
  <td><%= blog.title %></td>
  <td><%= blog.body %></td>
  <td><%= blog.published %></td>
  <td><%= blog.created_at %></td>
    <td>
    <%= link_to [:admin, blog] do %>
      <i class="fa-solid fa-eye"></i>
    <% end %>
    
    <%= link_to edit_admin_blog_path(blog) do %>
      <i class="fas fa-edit"></i>
    <% end %>
    
    <%= link_to admin_blog_path(blog), method: :delete, data: { confirm: "Are you sure you want to delete this team?" } do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>

  </td>
</tr>
