<tr>
  <th scope="row"><%= blog.id %></th>
  <td><%= blog.title %></td>
  <td><%= blog.body %></td>
  <td><%= blog.published %></td>
  <td><%= blog.created_at %></td>
  <td><%= link_to "Show", [:admin, blog] %></td>  
</tr>
