<p style="color: green"><%= notice %></p>

<h1>Blogs (Index)</h1>

<div id="blogs">
  <% @blogs.each do |blog| %>
    <%= render blog %>
    <p>
      <%= link_to "Show this blog", [:admin, blog] %>
    </p>
  <% end %>
</div>

<%= link_to "New blog", new_admin_blog_path %><br>

<%== pagy_nav(@pagy) %>