<p style="color: green"><%= notice %></p>

<h1>Team requests</h1>
.
<%= @team %>
.
<div id="team_requests">
  <% @team_requests.each do |team_request| %>
    <%= render team_request %>
    <p>
      <%= link_to "Show this team request", team_request %>
    </p>
  <% end %>
</div>

<%= link_to "New team request", new_team_request_path %>
