<div class="homepage">
  <ul>
    <%= link_to 'Ruby on Roids', root_path, class: 'left-nav-items nav-items' %>
    <% if Current.user && Current.user.role == 'admin' %>
      <%= button_to 'Logout', logout_path, method: :delete, class: 'right-nav-items nav-items logout-btn' %>
      <%= link_to 'Users', admin_users_path, class: 'right-nav-items nav-items' %>
      <%= link_to 'Teams', admin_teams_path, class: 'right-nav-items nav-items' %>
      <%= link_to 'Events', admin_events_path, class: 'right-nav-items nav-items' %>
      <%= link_to 'Blogs', admin_blogs_path, class: 'right-nav-items nav-items' %>
      <%= link_to 'Dashboard', admin_dashboard_index_path, class: 'right-nav-items nav-items' %>
    <% else %>
      <% if Current.user && Current.user.role == 'user' %>
        <%= button_to 'Logout', logout_path, method: :delete, class: 'right-nav-items nav-items logout-btn' %>
        <%= link_to Current.user.name, dashboard_index_path, class: 'right-nav-items nav-items' %>
      <% else %>
        <%= link_to 'Login', login_path, class: 'right-nav-items nav-items login-btn' %>
      <% end %>
      <%= link_to 'Contact', events_path, class: 'right-nav-items nav-items' %>
      <%= link_to 'Blogs', blogs_path, class: 'right-nav-items nav-items' %>
      <%= link_to 'Events', events_path, class: 'right-nav-items nav-items' %>
      <%= link_to 'Teams', teams_path, class: 'right-nav-items nav-items' %>
      <%= link_to 'Leaderboard', leaderboard_index_path, class: 'right-nav-items nav-items' %>
    <% end %>
  </ul>
</div>
